.fade-in-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}
  
.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
  
.outside {
  background-color: white;
}

.col-md {
  padding-left: 0px;
  padding-right: 0px;
}
.main { 
  width: 100%;
  padding: 0px auto;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
  max-width: 1000px;
}
.container {
  width: 90%; /* 페이지 크기 조정 */
  height: 90%; /* 페이지 크기 조정 */
  background-color: #ffffff;
  border-radius: 20px; /* 둥근 테두리 */
  overflow: hidden; /* 테두리 밖 내용 숨김 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  padding: 20px;
}

.main-image {
  width: 100%;
  height: auto;
}

.mainsection-text {
  padding: 40px 0px 40px 0px;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}
.mainsection-text-1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.mainsection-text-2 {
  
  display: flex;
  /* flex-direction: column;
  align-self: stretch; */
  justify-content: center; align-items: center;
  margin: 0px 0px 28px 0px;
  
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.32px;
}
.text2-inner {
  font-family: 'GabiaGosran', sans-serif;
  font-size: 18px;
  margin: 0 5px;
  font-style: normal;
  font-weight: 600;
  
}

.mainsection-text-3 {
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 25px;
  letter-spacing: -0.18px;
}
.col-4 {
  padding-left: 0px;
  padding-right: 0px;
}
.gallery-image {
  width: 100%;
  height: auto;
  padding: 0 3px 6px 3px;
}

.invitation-section {
  display: flex;
  width: 100%;
  padding: 60px 0px;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background: #ebebeb;
  margin-top: 60px;
}
.invitation-section-text1 {
  margin-bottom: 32px;
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 19px;
}
.invitation-section-text2 {
  margin-bottom: 32px;
  color: #000;
  text-align: left;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.invitation-section-text3 {
  display: flex;
  /* flex-direction: column;
  align-self: stretch; */
  justify-content: center;
  align-items: center;
  /* display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  flex: 1 0 0; */
  width: 100%;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}
.text3-inner {
  font-family: 'GabiaGosran', sans-serif;
  font-size: 10px;
  margin: 0 5px;
  font-style: normal;
  font-weight: 400;
  
}

.gallery-section {
  display: flex;
  width: 100%;
  padding: 60px 0px 36px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gallery-section-text {
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}
.location-section {
  display: flex;
  padding: 60px 0px 36px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.location-section-text1 {
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}
.location-map-section {
  z-index: 30;
}
.location-info-section {
  display: flex;
  padding: 24px 20px 40px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.location-info-section-text1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.location-info-section-text2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.location-how-publictrans-box {
  background-color: #2c221b; /* 네모 박스 배경색 */
  color: #f0e2d0; /* 텍스트 색 */
  padding: 10px 20px; /* 안쪽 여백 */
  border-radius: 8px; /* 둥근 모서리 */
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 20px; /* 아래 여백 */
}

.naver-link-box {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #f0e2d0; /* 링크 텍스트 색상 */
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.naver-link-icon {
  margin-right: 8px; /* 아이콘과 텍스트 간격 */
  font-size: 18px;
}

.location-how-publictrans-section {
  display: flex;
  width: 100%;
  padding: 12px 20px 24px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.location-how-publictrans-section-text1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.location-how-publictrans-section-list {
  display: flex;
  padding: 0px 0px 0px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 4px;
  align-self: stretch;
}
.location-how-publictrans-section-list li {
  /* display: flex; */
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.location-how2-section {
  display: flex;
  width: 100%;
  padding: 0px 20px 60px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.location-how2-section-text1 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}
.location-how2-section-text2 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #000;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.congratulatory-section{
  display: flex;
  width: 100%;
  padding: 60px 0px 80px 0px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #FFFFFF;
}
.congratulatory-section-text {
  color: #000;
  text-align: center;
  font-family: 'GabiaGosran', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}
.congratulatory-section-btn {
  display: flex;
  width: 300px;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #dedede;
  display: flex;
  border-color: white;
  color: #000;
  text-align: center;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
  justify-content: center; /* 수평 정렬을 위해 추가 */
  z-index: 100;
}
/* 모달 전체화면 배경 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
  justify-content: center; /* 수평 가운데 정렬 */
  z-index: 100;
}

/* 이미지 스타일 */
.overlay img {
  display: block;
  max-width: 80%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  z-index: 1; /* 이미지 레벨 */
}

/* 닫기 버튼 */
.overlay > span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffffff;
  z-index: 999;
  cursor: pointer;
}

/* 왼쪽 화살표 */
.overlay-arrows_left,
.overlay-arrows_right {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999; /* 이미지보다 위에 오도록 */
  cursor: pointer;
}

.overlay-arrows_left {
  left: 20px;
}

.overlay-arrows_right {
  right: 20px;
}

/* SVG 아이콘에 색상 적용 */
.overlay-arrows_left svg,
.overlay-arrows_right svg {
  width: 30px;
  height: 30px;
  fill: #000000; /* 검정색으로 아이콘 표시 */
}

/* modal - account */
.account-popup {
  display: inline-flex;
  /* width: 90%; */
  margin: auto;
  padding: 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  border-radius: 8px;
  background: #FFF;
}
.account-info-area {

}
.account-info-each {
  display: flex;
  width: 310px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}
.each-header {
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.each-body {
  display: flex;
  padding: 8px 0px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.each-title {
  color: #000;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.each-line {
  width: 310px;
  height: 1px;
  margin: 0px 0px 0px 0px;
  background: #E6E6E6;
}
.copy-success {
  width: 310px;
  background: #FFFFFF;
  opacity: 70%;
  border-radius: 3px;
  color: #9c9c9c;
  text-align: center;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 12px;
  font-style: normal;
}
.each-copy-btn {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #000; 
  color: #FFF;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}
.account-popup-close {
  display: flex;
  width: 310px;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F1F1F1;
  color: #000;
  text-align: center;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}
.each-account-text {
  color: #000;
  font-family: 'Hakgyoansim', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
/* font */

@font-face {
  font-family: 'NanumMyeongjo';
  src: local('NanumMyeongjo'), url(./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'), url(./fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format('truetype');
}
@font-face {
  font-family: 'GabiaGosran';
  src: local('GabiaGosran'), url(./fonts/gabia/GabiaGosran.woff2) format('woff2'), url(./fonts/gabia/GabiaGosran.ttf) format('truetype');
}
@font-face {
  font-family: 'Hakgyoansim';
  src: local('Hakgyoansim'), url(./fonts/Badasseugi/Hakgyoansim-Badasseugi-TTF-L.woff2) format('woff2'), url(./fonts/Badasseugi/Hakgyoansim-Badasseugi-TTF-L.ttf) format('truetype');
}


.form-inline .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.col-md-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.my-3 {
  margin-bottom: 1rem !important;
}

.map-icon {
  width: 48px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}